.adapter {
    position: relative;
}
@media screen and (max-width: 750px) {
    .adapter {
        left: 50%;
        transform: translateX(-50%);
        width: 150%;
    }
}

.tab-framework {
    display: flex;
    width: 100%;
    height: 100%;
    background: url(../images/bg-img/bg_01.jpg) no-repeat fixed center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    justify-content: center;
}
.tab-framework .inactive-tab {
    display: inline-block;
    margin-inline: 15px;
    width: 20%;
    height: 100%;
    font-size: 2.5vw;
    line-height: 200%;
    text-align: center;
    background: url(../images/tab-img/tab-inactivated.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
@media screen and (max-width: 750px) {
    .tab-framework .inactive-tab {
        margin-inline: 5px;
        line-height: 240%;
    }
}
.tab-framework .active-tab {
    display: inline-block;
    margin-inline: 15px;
    width: 20%;
    height: 100%;
    font-size: 2.5vw;
    line-height: 200%;
    text-align: center;
    background: url(../images/tab-img/tab-activated.png) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
@media screen and (max-width: 750px) {
    .tab-framework .active-tab {
        margin-inline: 5px;
        line-height: 240%;
    }
}

.img-framework {
    position: relative;
}
.img-framework img {
    position: relative;
    display: block;
    z-index: 2;
    width: 100%;
}
.img-framework .prev {
    position: absolute;
    top: 40%;
    left: 21%;
    z-index: 2;
    border: none;
    width: 3%;
    height: 3%;
    background-color: unset;
    cursor: pointer;
}
.img-framework .next {
    position: absolute;
    top: 40%;
    right: 22%;
    z-index: 2;
    border: none;
    width: 3%;
    height: 3%;
    background-color: unset;
    cursor: pointer;
}
.img-framework .current {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    overflow: hidden;
    z-index: 1;
    margin: auto;
    width: 100%;
}
.img-framework .current img {
    width: 100%;
    object-fit:cover;
}